<!DOCTYPE html>
<html>
<head>
  <title>Neopets</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<footer>
  <p>Neopets by
  <a href="https://www.linkedin.com/in/ayodeji-okusanya-5277489b/" target="_blank">
  Deji</a> </p>

</footer>

</body>
</html>
